{% extends "base.jinja2" %}

{% block content %}
    <div class="jumbotron" style="padding-top:10px; padding-bottom:10px; margin-top:20px; margin-bottom:20px;">
        <h1 style="font-size:50px; margin-bottom:20px;">qiita clone demo</h1>
        <p class="lead">このサイトは、qiitaクローンのデモサイトです。</p>
        <p>リポジトリ:<a href="https://github.com/momocalc/iincho">https://github.com/momocalc/iincho</a></p>
        <p>デモのためデータは毎日リセットされます。</p>
        <hr class="my-4">
            <h3 style="margin-top:30px">テスト用 ユーザ</h3>
            <ul style="font-size:18px">
                <li><span style="display:inline-block; width:45px;">ID:</span>test</li>
                <li><span style="display:inline-block; width:45px;">PW:</span>pass</li>
            </ul>
    </div>
    <h1>ログイン</h1>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                {{ form|bootstrap }}
                <div class="form-group">
                    <button id="normalLogin" type="submit" class="btn btn-primary">login</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h2>外部アカウントでログイン</h2>
                <a id="googleLogin" class="btn btn-primary" href="{{ url('social:begin','google-oauth2') }}">Login with
                    Google</a>
            </div>
        </div>
    </div>
{% endblock %}
