{% extends "base.jinja2" %}
{% import "categories/macros.jinja2" as catecro with context %}
{% import "ajax_macros.jinja2" as ajax_macro %}
{% import "basic_macros.jinja2" as b_macro with context %}

{% block head %}
    <style>
        .container {
            width: auto;
        }
    </style>
{% endblock %}
{% block content %}

    <h1>カテゴリ管理</h1>
    <div class="row">
        <div class="col-lg-8 treeview-container">
            <div id="treeview" class="treeview">
            </div>
        </div>

        <div class="col-lg-4">
            <h2>カテゴリ統合</h2>
            <div>
                <p>統合するカテゴリにチェックをつけて統合ボタンをクリックしてください。</p>
            </div>
            <div class="alert alert-info">
                <ul>
                    <li>チェックしたカテゴリの子カテゴリの統合はされません。
                        チェックしたカテゴリ直下の記事だけが、統合カテゴリに移動します。
                    </li>
                    <li>統合カテゴリはroot直下に作成されます。</li>
                </ul>
            </div>
            <button type="button" class="btn btn-success" onclick="showMergeModal()">統合</button>
        </div>
    </div>

    {# 削除モーダル #}
    {{ b_macro.confirm_modal(modal_id='delete-confirm', btn_class="btn-danger") }}

    {# 名称入力モーダル #}
    <div class="modal fade" tabindex="-1" role="dialog" id="input-name-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><h4>
                </div>
                <div class="alert alert-danger" role="alert">
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label></label>
                        <input type="text" name="category-name" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick=""></button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body_script %}
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css " rel="stylesheet">

    <script src="{{ static('js/bootstrap-treeview.js') }}"></script>
    <script src="{{ static("categories/treeview.js") }}"></script>

    <script>
        {{ ajax_macro.django_ajax_init() }}

        var editNode;
        var treeHelper;

        // 削除モーダル 設定
        var deleteConfirm = $('#delete-confirm');
        deleteConfirm.find('.modal-message').html('このカテゴリ配下(子カテゴリ含む)の記事は、すべて「カテゴリなし」の状態になります。(記事自体は削除されません)<br />カテゴリを削除しますか？');
        deleteConfirm.find('.modal-submit').click(deleteCategory);

        /**
         * 名称入力モーダル 設定
         */
        var inputNameModal = $('#input-name-modal')
            .on('shown.bs.modal', function () {
                $(this).find('input').focus();
            });

        function initInputNameModal(title, label, buttonText, action) {
            inputNameModal = $('#input-name-modal');
            inputNameModal.find('.alert').hide();
            inputNameModal.find('.modal-title').text(title);
            inputNameModal.find('.modal-body label').text(label);
            inputNameModal.find('input').val('');
            inputNameModal.find('button.btn-success').text(buttonText).unbind('click').click(action);

            inputNameModal.modal('show');
            return inputNameModal;
        }

        $(function () {
            treeHelper = new TreeViewHelper($('#treeview'), {{ catecro.make_category_tree(None, False) }});
            treeHelper.handler.onMovingNode = function (target_node, new_parent_node) {
                var target_path = treeHelper.getPath(target_node);
                var new_parent_path = treeHelper.getPath(new_parent_node);
                return movePath(target_path, new_parent_path);
            };
            treeHelper.handler.onClickedDeleteNode = function (node) {
                editNode = node;
                //モーダル表示
                deleteConfirm.modal('show');
            };

            treeHelper.handler.onClickedUpdateName = function (node) {
                editNode = node;
                initInputNameModal('カテゴリ名変更', 'カテゴリ名', '更新', updateName)
                    .find('input').val(node.name);
            };

            treeHelper.handler.onClickedAddChild = function (node) {
                editNode = node;
                initInputNameModal('カテゴリ追加', '新規カテゴリ名', '追加', addCategory);
            }
        });

        /**
         * カテゴリの移動
         * @param targetPath 移動するカテゴリパス
         * @param newParentPath 移動先カテゴリパス
         * @returns {boolean} 移動成功可否
         */
        function movePath(targetPath, newParentPath) {
            var res = false;
            $.ajax({
                type: 'POST',
                url: '{{ url('categories:move_category') }}',
                data: {'target_path': targetPath, 'new_parent_path': newParentPath},
                dataType: 'json',
                timeout: 10000,
                async: false // TODO:とりあえず非同期にしている。非同期で、サーバーレスポンスを得られるまで待機するようなしくみにできれば尚良。(他のjsonメソッドも同様)
            }).done(function (data) {
                console.log(data);
                if (data['state'] === true) {
                    res = true;
                } else {
                    alert(data['message']);
                }
            }).fail(function () {
                console.log(arguments);
                showErrorAndReload();
            });
            return res;
        }

        /**
         * カテゴリの削除
         */
        function deleteCategory() {
            var targetPath = treeHelper.getPath(editNode);

            $.ajax({
                type: 'POST',
                url: '{{ url('categories:delete_category') }}',
                data: {'target_path': targetPath},
                dataType: 'json',
                timeout: 10000,
                async: false
            }).done(function (data) {
                console.log(data);
                if (data['state'] === true) {
                    treeHelper.deleteNode(editNode);
                } else {
                    alert(data['message']);
                }
            }).fail(function () {
                console.log(arguments);
                showErrorAndReload();
            });
            deleteConfirm.modal('hide');
        }

        /**
         * カテゴリ名更新
         */
        function updateName() {
            var newName = inputNameModal.find('input').val();
            var targetPath = treeHelper.getPath(editNode);
            $.ajax({
                type: 'POST',
                url: '{{ url('categories:update_name') }}',
                data: {'target_path': targetPath, 'name': newName},
                dataType: 'json',
                timeout: 10000,
                async: false
            }).done(function (data) {
                console.log(data);
                if (data['state'] === true) {
                    treeHelper.updateNodeName(editNode, newName);
                    inputNameModal.modal('hide');
                } else {
                    inputNameModal.find('.alert').show().text(data['message']);

                }
            }).fail(function () {
                console.log(arguments);
                showErrorAndReload();
            });
        }

        /**
         * 統合モーダル表示
         */
        function showMergeModal() {

            if (treeHelper.treeview("getChecked").length <= 1) {
                alert('複数のカテゴリにチェックをしてください');
                return false;
            }
            initInputNameModal('カテゴリ統合', '統合カテゴリ名', '統合', mergeCategory);
        }
        /**
         * カテゴリの統合処理
         */
        function mergeCategory() {
            var paths = [];
            var name = inputNameModal.find('input').val();

            treeHelper.treeview("getChecked").forEach(function (v) {
                paths.push(treeHelper.getPath(v));
            });
            console.log(paths);

            $.ajax({
                type: 'POST',
                url: '{{ url('categories:merge_categories') }}',
                data: {'target_paths[]': paths, 'name': name},
                dataType: 'json',
                timeout: 10000,
                async: false
            }).done(function (data) {
                console.log(data);
                if (data['state'] === true) {
                    inputNameModal.modal('hide');
                    location.reload();
                } else {
                    inputNameModal.find('.alert').show().text(data['message']);
                }
            }).fail(function () {
                console.log(arguments);
                showErrorAndReload();
            });
        }

        function showErrorAndReload() {
            alert('エラーが発生したため、リロードします');
            location.reload();
        }
    </script>
{% endblock %}
