{% macro make_category_tree(current_path=None, visibleCount=True) -%}
    [

    {% set current_path = current_path or ' ' %}
    {%  if category_list %}
        {% set root = category_list | category_tree %}
{# ルートは表示しない #}
        {%  for n in root.sorted_children %}
            {{ make_tree_list(n, current_path, visibleCount) }}
        {% endfor %}
    {%  endif %}

    ]
{% endmacro %}

{% macro make_tree_list(node, current_path, visibleCount) -%}
    {
        text: "{{ node.name }}",
        tags: ['{{ node.count }}'],
        href: "?path={{ node.encoded_path }}",
        name: {% autoescape false %}{{ node.json_encoded_name }}{% endautoescape %},
        {% if current_path.startswith(node.path) %}
            state: {
                expanded: true
                {% if current_path == node.path %}
                    ,selected: true
                {% endif %}
            },
        {% endif %}
    {% if node.children %}
        nodes: [
            {% for c in node.sorted_children %}
                {{ make_tree_list(c, current_path,visibleCount) }}
            {% endfor %}
        ],
    {% endif %}
    },
{% endmacro %}

{% macro make_nodes_link(full_cate_name, ul_class='') -%}
    <ul class="{{ ul_class }}">
    {% for node in (full_cate_name | split_category_nodes) %}
        <li>
            <a href="{{ url('index') }}?path={{ node.encoded_path }}">{{ node.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}
