{% extends "base.jinja2" %}
{% import "article_macros.jinja2" as articro with context %}

{% block content %}
    <div class="list_header">
        {% if owner %}
            <h2>{{ owner }}の投稿</h2>
        {% else %}
            <h2>{{ request.GET.get('query') }} 投稿一覧</h2>
        {% endif %}
    </div>
    {{ articro.article_list() }}
{% endblock %}